@page
@model ErrorModel
@{
	Layout = "_ErrorLayout";
}


<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
	<div class="pd-10">
		<div class="error-page-wrap text-center">
			<h1>500</h1>
			<h3>Error: 500 Unexpected Error</h3>
			@if (TempData.ContainsKey("ErrorMessage"))
			{
				<p class="text-danger">@TempData["ErrorMessage"]</p>
			}
			<div class="pt-20 mx-auto max-width-200">
				<a href="Index" class="btn btn-primary btn-block btn-lg">Back To Home</a>
			</div>
		</div>
	</div>
</div>
